services:
  backend:
    build:
      context: ./backend
      dockerfile: dockerfile
    container_name: meteo-backend
    expose:
      - "8080"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile
    container_name: meteo-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped
